// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
  display: inline-block;
  margin-right: 10px;
}

#email {
  display: inline-block;
}

#title {
  font-size: 25px;
  text-align: center;
  color: #FFFFFF;
}

table {
  width: 60%;
  margin-top: 50px;
  margin-bottom: 30px;
}

th {
  border-bottom: 2px solid;
  font-size: 20px;
  padding: 15px;
}

td {
  font-size: 20px;
  padding: 15px;
}